body
{
    margin-left: 20px;
    margin-right: 20px;
}
a
{
    text-decoration: none;
}
img
{
	align-items:center;
}
h1
{
    text-align: center;
}
iframe
{
	align-items:center;
}